/* GRILLE PRODUITS */

.grid {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content,max-content);
  gap: 24px;
}

.grid-item {
    height: 100%;
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.grid-item:hover .grid-item-description > h6:first-child {
  border-bottom: 3px solid var(--gold);
}

.grid-item:hover .colored-button {
  background-color: var(--dark-gold);
}

.grid-item:hover .colored-button:hover {
  background-color: var(--gold);
}

.grid-item:hover .colored-button:hover a{
  background-color: var(--gold);
}

.grid-item .image-container {
    display: block;
    min-height: 320px;
    position: relative;
    overflow: hidden;
    padding: 100% 0 0;
    margin: auto;
}

.grid-item .image-container-accueil {
  min-height: 280px;
}

.grid-item .image-container img {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.grid-item-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-item-description > h6:first-child {
  width: fit-content;
  border-bottom: 3px white solid;
}


p .light {
  color: grey;
}

