header {
  margin-bottom: 60px;
}

.banner {
  position: relative;
  background-color: rgb(207, 207, 207);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.colored-line {
  width: 60px;
  height: 3px;
  background-color: var(--gold);
  margin-bottom: 20px;
}

.text-hero-container {
  background-color: white;
  width: 500px;
  position: absolute;
  top: 120px;
  left: 60px;
  padding: 20px;
  opacity: 0.9;
  border-radius: 3px;
}

/* BANNER CATALOGUE */

.banner-catalogue {
  background-image: url('../images/hero-catalogue.png');
}

/* BANNER INDEX */

.banner-index {
  background-image: url('../images/hero-index.png');
  height: 600px;
}

.text-hero-container-index {
  background-color: black;
  color: white;
  opacity: 0.9;
  top: 300px;
}

.text-hero-container-index a {
  color: white;
}
