@media screen and (max-width: 1250px) {
  
  main {
    max-width: 828px;
  }

  /* NAVIGATION */

  .dropdowns-container {
    height: 100%;
    width: 0%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--brown); /* Black fallback color */
    background-color: white(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
  }

  .dropdown-content:before {
    display: none;
  }

  .dropdown {
    background-color: var(--brown);
    width: 100%;
    margin: 0;
    position: relative;
    height: 110px;
  }

  .dropdown-content {
    flex-direction: column;
    position: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
  }

  .dropbtn {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .nav-categories-wrapper {
    flex-direction: column;
  }

  .dropdowns-container .closebtn {
    display: block;
    font-size: 60px;
    color: var(--white);
    padding-bottom: 0;
    padding-right: 10px;
    text-align: end;
    z-index: 1;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 10px;
  }

  .openbtn {
    display: block;
  }

  nav .form-search {
    display: none;
  }

  .btn-login {
    display: none;
  }

  .logo-close-btn-wrapper {
    width: 100%;
    margin-right: 85px;
    margin-bottom: 40px;
  }

  .form-and-log-wrapper-mobile {
    display: block;
    height: 160px;
    padding-left: 40px;
    padding-bottom: 60px;
    width: 100%;
  }

  .form-and-log-wrapper-mobile a {
    font-size: 2.2em;
  }

  .dropbtn::after {
    display: none;
    width: 0;
    height: 0;
  }

  .dropdown:hover .dropbtn::after {
    width: 0%;
  }

  .form-and-log-wrapper-mobile .btn-login {
    display: block;
    color: white;
    font-size: 20px;
  }

  .form-and-log-wrapper-mobile .form-search {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .form-and-log-wrapper-mobile .form-search input[type=text], .form-and-log-wrapper-mobile .form-search button  {
    font-size: 1.2rem;
  }

  /* FILTER CATALOGUE */

  .sort-wrapper {
    display: none;
  }

  .sort-wrapper-mobile {
    display: block;
    margin-bottom: 20px;
  }

  .filter-container {
    height: 100%;
    width: 0%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    /* background-color: white; /* Black fallback color */
    background-color: white(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    transform: translateX(-100%);
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
  }

  .filter-container .closebtn {
    display: block;
    font-size: 60px;
    color: var(--white);
    padding-bottom: 0;
    padding-right: 10px;
    text-align: end;
    z-index: 1;
  }

  #openFilterBtn {
    display: block;
  }

  .sidebar-backdrop-active {
    z-index: 1;
    opacity: 0.2;
  }

  /* ACCUEIL */

  .grid-item .image-container {
    min-height: auto;
  }

}

@media screen and (min-width: 900px) and (max-width: 1250px){

  /* ACCUEIL */

  .item-img-ctn img {
    width: auto;
    left: -20px;
  }

}

@media screen and (max-width: 900px) {

  main {
    max-width: 732px;
  }

  .product-container {
    margin-bottom: 0;
  }

  /* UTILISATEUR */

  .form-row-wrapper {
    flex-direction: column;
  }

  /* CATALOGUE */

  .pagination {
    margin-bottom: 60px;
  }

  /* PRODUCT PAGE */

  .main-product {
      margin-bottom: 0;
  }

  .product-container {
    flex-direction: column;
  }

  .product-images-container {
    width: 80vw;
    margin: auto;
  }

  /* WINDOW ZOOM PRODUCT */

  .window-zoom-image {
    width: 100vw;
    height: 80vh;
  }

  /* ACCUEIL GRID ACTUALITES */

  .grid-vente {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content,max-content);
      gap: 24px;
      grid-template-areas: 
        "item1 item2"
        "item3 item4";
  }

  .grid-vente img {
    height: auto;
  }

  .item1 img {
    width: auto;
    left: -80px;
  }

  .item-img-ctn-small {
    height: 260px;
  }

  .item-img-ctn-small img{
    top: -30px;
  }

  /* ACCUEIL COLORED SECTION A PROPOS */

  .portrait-container img{
    width: auto;
    height: 100%;
    left: -20px;
  }

  /* FOOTER */

  footer {
    margin-top: 0;
  }

}

@media screen and (max-width: 840px) {

  /* CATALOGUE GRID */

  .grid {
    grid-template-columns: repeat(2, 350px);
  }

}

@media screen and (max-width: 768px) {

  /* FOOTER */

  .navigation-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navigation-footer h4 {
    margin-bottom: 20px;
  }

  .navigation-footer ul {
    display: none;
  }

  /* ACCUEIL SECTION */

  section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .container-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .portrait-container img {
    left: -37px;
}

  /* PAGE PRODUIT RETOUR*/

  .pagination.return-wrapper {
    background-color: var(--lightgrey);
    margin: 0;
    padding: 0px 0px 20px 30px;
  }

}

@media screen and (max-width: 650px) {

/* ACCUEIL COLORED SECTION A PROPOS*/

  .colored-section-container {
    flex-direction: column;
  }

  .portrait-container {
    min-width: 100%;
    min-height: 500px;
  }

  .portrait-container img{
    width: 100%;
    left: 0px;
  }

}

@media screen and (max-width: 560px) {

  /* NAVIGATION */

  nav {
    padding: 20px 10px;
  }

  /* HEADER */

  .banner {
    background: none;
    height: auto;
  }

  .text-hero-container, .text-hero-container-index {
    border-bottom: 1px solid var(--black);
    padding: 10px 0 20px 0;
    margin: 10px;
    position: initial;
    width: fit-content;
    display: block;
    background-color: white;
    color: black;
  }

  .text-hero-container-index a {
    color: black;
  }

  main {
    margin: auto;
  }

  /* CATALOGUE GRID */

  .catalogue-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* PRODUCT PAGE */

  .product-images-container {
    width: 95vw;
  }

  /* ACCUEIL */

  .grid-vente img {
    height: 100%;
  }

  .portrait-container {
    min-height: 350px;
  }
  
}

@media screen and (max-width: 425px) {

  /* ACCUEIL */

  .container-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-vente .item {
    height: inherit;
  }

  .grid-vente img {
    height: auto;
  }

  .grid-vente {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
  }

  .portrait-container {
    min-height: 300px;
  }

}

@media screen and (max-width: 320px) {

  /* CATALOGUE GRID */

  .grid-item-description {
    padding: 10px 5px;
  }

  /* ACCUEIL */

  .portrait-container {
    min-height: 230px;
  }

}
