<!DOCTYPE html>
<html lang="fr">

<head>
    <base href="{{constant('BASE_SERVEUR')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pauline Huby e2194480">
    <title>Encheres Stampee</title>
    <link rel="stylesheet" href="ressources/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="./ressources/script/main.js" type='module' defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidebar-backdrop" id="sidebar-backdrop"></div>
    <div>
        <!--- NAVIGATION -->
        <nav>
            <div class="logo-container">
                <a class="logo" href="accueil/index"><img src="./ressources/images/logo-stampee.png" alt="logo"></a>
            </div>
            <!-- dropdowns container -->
            <div class="dropdowns-container" id="myNav">
                <div class="logo-close-btn-wrapper">
                    <div class="logo-container logo-mobile">
                        <a class=""><img src="./ressources/images/logo-stampee.png" alt="logo"></a>
                    </div>

                    <a href="#" class="closebtn" id="closeNavBtn">&times;</a>
                </div>

                <div class="form-and-log-wrapper-mobile">
                    <form class="form-search" method="POST" action="timbre/recherche">
                        <input type="text" name="recherche" id="search" placeholder="Chercher...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    {% if session.utilisateur %}
                        <a href="utilisateur/deconnexion">Déconnexion</a>
                    {% else %}
                        <a href="utilisateur/index" class="btn-login">Connexion</a>
                    {% endif %}
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <h3>Enchères</h3>
                    </div>
                    <div class="dropdown-content">
                        <div>
                            <a href="">
                                <h4>En vedette</h4>
                            </a>
                        </div>
                        <div>
                            <a href="timbre/tout">
                                <h4>En cours</h4>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <h4>Passées</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <h3>Actualités</h3>
                    </div>
                    <div class="dropdown-content">
                        <div>
                            <a href="">
                                <h4>Timbres</h4>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <h4>Enchères</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <h3>A propos</h3>
                    </div>
                    <div class="dropdown-content">
                        <div>
                            <a href="">
                                <h4>La philatélie</h4>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <h4>Lord Stampee</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <a href="timbre/utilisateur"><h3>Mon compte</h3></a>
                    </div>
                    <div class="dropdown-content">
                        <div>
                            <a href="timbre/utilisateur">
                                <h4>Mes enchères en cours</h4>
                            </a>
                        </div>
                        <div>
                            <a href="timbre/creation">
                                <h4>Ajouter une enchère</h4>
                            </a>
                        </div>
                        <div>
                            <a href="timbre/utilisateur">
                                <h4>Mes favoris</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-and-log-wrapper">
                <form class="form-search" method="POST" action="timbre/recherche">
                    <input type="text" name="recherche" id="search-mobile" placeholder="Chercher...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                {% if session.utilisateur %}
                <a href="utilisateur/deconnexion" class="btn-login dynamic-underline-white">Déconnexion</a>
                {% else %}
                <a href="utilisateur/index" class="btn-login dynamic-underline-white">Login</a>
                {% endif %}
                <span class="openbtn" id="openNavBtn"><i class="fa fa-bars" id="menu-icon"></i></span>
            </div>
        </nav>
    </div>
    {% block main %}

    {% endblock main %}
    <!--- FOOTER -->
    <footer>
        <nav class="navigation-footer">
            <div>
                <h4>Membre</h4>
                <ul>
                    <li><a href="utilisateur/index">Se connecter</a></li>
                    <li><a href="timbre/utilisateur">Votre profil</a></li>
                </ul>
                <h4>A propos de Lord Reginal Stampee III</h4>
                <ul>
                    <li>La philatélie, c’est la vie.</li>
                    <li>Biographie du Lord</li>
                </ul>
    
            </div>
            <div>
                <h4>Actualités</h4>
                <ul>
                    <li>Timbres</li>
                    <li>Enchères</li>
                </ul>
                <h4>Fonctionnement de la plateforme</h4>
                <ul>
                    <li>Aide « Profil »</li>
                    <li>Aide « Comment placer une offre »</li>
                    <li>Aide « Suivre une enchère »</li>
                    <li>Aide « Trouver l’enchère désirée »</li>
                </ul>
            </div>
            <div>
                <h4>Contactez-nous</h4>
                <ul>
                    <li>Angleterre</li>
                    <li>Canada</li>
                    <li>US</li>
                    <li>Australie</li>
                </ul>
                <h4>Termes et conditions</h4>
                <div class="social-media-wrapper">
                    <span><i class="fa-brands fa-facebook-square"></i></span>
                    <span><i class="fa-brands fa-instagram-square"></i></span>
                </div>
            </div>
        </nav>
    </footer>
    
    </body>
    
    </html>