{% extends "base.twig.html" %}

{% block main %}
<header class="banner banner-profil">
    <section class="text-hero-container">
        <h1>Mon profil</h1>
        <div class="colored-line"></div>
        <p>Retrouvez toutes vos enchères en cours et timbres favoris.</p>
    </section>
</header>
<!--- MAIN -->
<main>
    <section>
        <header>
            <h2>Modification d'un timbre et de son enchère</h2>
        </header>
        {% for infos in timbre %}
            {% for info in infos %}
                <form class="timbre-form" method="POST" action="timbre/changer" enctype="multipart/form-data">
                    <input type="hidden" name="tim_id" value="{{info.enc_tim_id_ce}}">
                    <label for="tim_nom">Nom du timbre</label>
                    <input type="text" name="tim_nom" id="tim_nom" placeholder="Nom du timbre" value="{{info.tim_nom}}" required>
                    <label for="tim_tirage">Tirage</label>
                    <input type="text" name="tim_tirage" id="tim_tirage" placeholder="Exemple: 900" value="{{info.tim_tirage}}" required>
                    <label for="tim_dimensions">Dimensions</label>
                    <input type="text" name="tim_dimensions" id="tim_dimensions" placeholder="27 X 22 mm" value="{{info.tim_dimensions}}" required>
                    <label for="tim_prix_dep">Prix de départ (CAD)</label>
                    <input type="number" name="tim_prix_dep" id="tim_prix_dep" min="0" placeholder="0" value="{{info.tim_prix_dep}}" required>
                    <label for="tim_certificat">Certificat</label>
                    <select name="tim_certificat" id="tim_certificat" required>
                        <option value="">-</option>
                        <option value="oui" {{ (info.tim_certificat == 'oui') ? 'selected' : ''}}>oui</option>
                        <option value="non" {{ (info.tim_certificat == 'non') ? 'selected' : ''}}>non</option>
                    </select>
                    <label for="tim_cat">Catégorie</label>
                    <select name="tim_cat" id="tim_cat" required>
                        <option value="">-</option>
                        {% for categorie in categories %}
                            <option value="{{categorie.cat_id}}" {{ (categorie.cat_id == info.cat_id) ? 'selected' : '' }}>{{categorie.cat_nom}}</option>
                        {% endfor %}
                    </select>
                    <label for="tim_con">Conservation</label>
                    <select name="tim_con" id="tim_con" required>
                        <option value="">-</option>
                        {% for conservation in conservations %}
                            <option value="{{conservation.con_id}}" {{ (conservation.con_id == info.con_id) ? 'selected' : '' }}>{{conservation.con_etat}}</option>
                        {% endfor %}
                    </select>
                    <label for="tim_pay">Pays</label>
                    <select name="tim_pay" id="tim_pay" required>
                        <option value="">-</option>
                        {% for pays_un in pays %}
                            <option value="{{pays_un.pay_id}}" {{ (pays_un.pay_id == info.pay_id) ? 'selected' : '' }}>{{pays_un.pay_nom}}</option>
                        {% endfor %}
                    </select>
                    <label for="enc_date_debut">Date de début de l'enchère</label>
                    <input type="text" name="enc_date_debut" id="enc_date_debut" placeholder="aaaa/mm/jj" value="{{info.enc_date_debut}}" required>
                    <label for="enc_date_fin">Date de fin de l'enchère</label>
                    <input type="text" name="enc_date_fin" id="enc_date_fin" placeholder="aaaa/mm/jj" value="{{info.enc_date_fin}}" required>
                    <!--IMAGE-->
                    <label for="tim_ima">Téléverser vos images</label>
                    <input type="file" name="tim_ima" id="tim_ima" accept="image/png, image/jpeg" value="{{info.ima_path}}">
                    <button type="submit" class="colored-button">Soumettre</button>
                </form>
            {% endfor %}
        {% endfor %}
        <div class="pagination return-wrapper">
            <a href="timbre/utilisateur"><i class="fa-solid fa-chevron-left"></i>Retour</a>
        </div>
    </section>
</main>
{% endblock %}