{% extends "base.twig.html" %}

{% block main %}
    <!----------------- MAIN ------------------>
    <main class="main-product">
        {% for infos in timbre %}
            {% for info in infos %}
        <div class="product-container">
        <div class="product-images-container">
            <div class="window-zoom-image">
                <a href="#"  id="closeZoomBtn">&times;</a>
                <div id="image-zoom-container"><img src="{{info.ima_path}}" alt=""></div>
            </div>
            <div id="image-big-container"><img src="{{info.ima_path}}" alt=""></div>
            <div class="product-images-little-container">
                <div class="image-little-container"><img src="{{info.ima_path}}" alt=""></div>
                <div class="image-little-container"><img src="{{info.ima_path}}" alt=""></div>
            </div>
        </div>
        <aside class="product-infos-container">
            <div class="coup-de-coeur-wrapper">
                <div>
                    <div class="coup-de-coeur-logo-container"><img src="ressources/images/coup-de-coeur.png" alt=""></div>
                    <span>Coup de coeur du Lord</span>
                </div>
                <button id="fav-btn"><i class="fa-regular fa-star" id="fa-star"></i></button>
            </div>
            <div class="product-category">Categorie : <span>{{info.cat_nom}}</span></div>
            <div class="product-title-container">
                <h2 class="numLot">#{{info.enc_tim_id_ce}}</h2>
                <h1 class="product-title">{{info.tim_nom}}</h1>
            </div>
            <div class="product-description">
                <h3>Description</h3>
                <p>Pays : {{info.pay_nom}}</p>
                <p>Condition : {{info.con_nom}}</p>
                <p>Tirage : {{info.tim_tirage}}</p> 
                <p>Dimensions : {{info.tim_dimensions}}</p>
                <p>Certifié : <span>{{info.tim_certificat}}</span></p>
            </div>
            <div class="product-offer">
                {% if info.mis_montant %}
                <h3>Offre actuelle : {{info.mis_montant}} CAD</h3>
                <p class="bidder-name">{{info.mis_uti_nom}}</p>
                <p>Quantité de mises : {{info.mis_sum}}</p>
                {% endif %}
                <p>Prix plancher : {{info.tim_prix_dep}} CAD</p>
                <p>Début/Fin : {{info.enc_date_debut}} au {{info.enc_date_fin}}</p>
            </div>
            <button class="colored-button">Miser</button>
        </aside>
        </div>
        {% endfor %}
        {% endfor %}
        <div class="pagination return-wrapper">
            <a href="timbre/tout"><i class="fa-solid fa-chevron-left"></i>Retour</a>
        </div>
    </main>
    
{% endblock %}