footer {
    margin-top: 60px;
    background-color: var(--brown);
    padding-left: 20px;
    padding-right: 20px;
}

/* NAVIGATION FOOTER */

.navigation-footer {
  height: fit-content;
  padding: 40px 0px;
  max-width: 1100px;
  margin: auto;
  align-items: flex-start;
  justify-content: center;
}

.navigation-footer > div {
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
}

nav h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

nav ul {
  margin-bottom: 40px;
}

nav li {
  font-size: 1.2rem;
  font-weight: 100;
}

.social-media-wrapper span{
    padding-right: 10px;
    font-size: 1.4rem;
}

