/* GRILLE PRODUITS */

.grid {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content,max-content);
  gap: 24px;
}

.grid-item {
    height: 100%;
}

.grid-item:hover {
  background-color: var(--lightgrey);
}

.grid-item .image-container {
    display: block;
    min-height: 320px;
    position: relative;
    overflow: hidden;
    padding: 100% 0 0;
    margin: auto;
}

.grid-item .image-container-accueil {
  min-height: 280px;
}

.grid-item .image-container img {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.grid-item-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

p .light {
  color: grey;
}

