@media screen and (max-width: 1250px) {
  
  main {
    max-width: 828px;
  }

  /* FILTER CATALOGUE */

  .sort-wrapper {
    display: none;
  }

  .sort-wrapper-mobile {
    display: block;
    margin-bottom: 20px;
  }

  .filter-container {
    height: 100%;
    width: 0%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    /* background-color: white; /* Black fallback color */
    background-color: white(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    transform: translateX(-100%);
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
  }

  .filter-container .closebtn {
    display: block;
    font-size: 60px;
    color: var(--white);
    padding-bottom: 0;
    padding-right: 10px;
    text-align: end;
    z-index: 1;
  }

  #openFilterBtn {
    display: block;
  }

  .sidebar-backdrop-active {
    z-index: 1;
    opacity: 0.2;
  }

}

@media screen and (max-width: 900px) {

  main {
    max-width: 732px;
  }

  /* NAVIGATION */

  .dropdowns-container {
    height: 100%;
    width: 0%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--brown); /* Black fallback color */
    background-color: white(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
  }

  .dropdown-content:before {
    display: none;
  }

  .dropdown {
    background-color: var(--brown);
    width: 100%;
    margin: 0;
    position: relative;
    height: 100px;
  }

  .dropdown-content {
    flex-direction: column;
    position: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
  }

  .dropbtn {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .nav-categories-wrapper {
    flex-direction: column;
  }

  .dropdowns-container .closebtn {
    display: block;
    font-size: 60px;
    color: var(--white);
    padding-bottom: 0;
    padding-right: 10px;
    text-align: end;
    z-index: 1;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 10px;
  }

  .openbtn {
    display: block;
  }

  nav .form-search {
    display: none;
  }

  .btn-login {
    display: none;
  }

  .logo-close-btn-wrapper {
    width: 100%;
    margin-right: 85px;
    margin-bottom: 40px;
  }

  .form-and-log-wrapper-mobile {
    display: block;
    height: 160px;
    padding-left: 40px;
    padding-bottom: 60px;
    width: 100%;
  }

  .form-and-log-wrapper-mobile .btn-login {
    display: block;
    color: white;
    font-size: 20px;
  }

  .form-and-log-wrapper-mobile .form-search {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .form-and-log-wrapper-mobile .form-search input[type=text], .form-and-log-wrapper-mobile .form-search button  {
    font-size: 15px;
  }

  .nav-chevron-down {
    display: contents;
    float: right;
  }

}

@media screen and (max-width: 840px) {
  main {
    width: 768px;
  }

  /* CATALOGUE GRID */

  .grid {
    grid-template-columns: repeat(2, 350px);
  }

  /* PRODUCT ASIDE */

  .product-container {
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) {

  /* FOOTER */

  .navigation-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navigation-footer h4 {
    margin-bottom: 20px;
  }

  .navigation-footer ul {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  /* NAVIGATION */

  nav {
    padding: 20px 10px;
  }

  /* HEADER */

  .banner {
    background: none;
    height: auto;
  }

  .text-hero-container {
    border-bottom: 1px solid var(--black);
    padding: 10px 0 20px 0;
    margin: 10px;
    position: initial;
    width: fit-content;
    display: block;
  }

  main {
    width: 320px;
    margin: auto;
  }

  /* CATALOGUE GRID */

  .grid {
    grid-template-columns: repeat(1, 320px);
  }
}

@media screen and (max-width: 320px) {
  /* CATALOGUE GRID */

  .grid-item-description {
    padding: 10px 5px;
  }
}
