nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brown);
  padding: 10px 60px;
  color: var(--white);
  height: 80px;
  overflow: hidden;
}

nav h3 {
  font-weight: normal;
  font-size: 1.4rem;
}

/* LOGO */

.logo-container {
  width: 110px;
  height: fit-content;
}

.logo {
  padding-bottom: 0px;
}

/* DROPDOWN */

.dropdowns-container {
  display: flex;
  align-items: center;
}

.dropdown {
  margin: 0 40px;
  height: 80px;
  padding-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: var(--white);
  font-size: 16px;
  background-color: var(--beige);
  width: 100%;
  top: 80px;
  left: 0;
  z-index: 1;
  justify-content: center;
}

.dropdown-content h4 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.3rem;
}

.dropdown-content a {
  color: var(--white);
}

.dropdown-content > div {
  margin: 10px 40px;
}

nav a {
  display: block;
  color: var(--white);
}

.nav-categories-wrapper {
  display: flex;
}

.nav-categories-wrapper > div {
  padding-right: 40px;
}

.dropdown:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* DROPDOWN ARROWS */

/* .dropdown-content:before {
  content: '';
  position: absolute;
  border-color: var(--light-grey);
  border: solid transparent;
  border-bottom-color: var(--light-grey);
  border-width: 11px;
  margin-left: -10px;
  top: -20px;
  z-index: 2;
}

.dropdown-content1:before {
  left: 31%;
}

.dropdown-content2:before {
  left: 43%;
}

.dropdown-content3:before {
  left: 55%;
} */

/* MOBILE ITEMS */

.openbtn,
.closebtn,
.logo-mobile {
  display: none;
}

.form-and-log-wrapper-mobile {
  display: none;
}

.show-nav-mobile {
  width: 100% !important;
}

/* SEARCH FORM AND LOGIN */

.form-search input[type='text'] {
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

.form-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #f1f1f1;
  color: grey;
  font-size: 0.7rem;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.form-search button:hover {
  background-color: #d3d3d3;
}

.form-search::after {
  content: '';
  clear: both;
  display: table;
}

.fa-search {
  font-size: 1.15rem;
}

.btn-login {
  background-color: var(--brown);
  color: var(--white);
  font-size: 16px;
}

.form-and-log-wrapper {
  display: flex;
  align-items: center;
}
