/* HERO BANNER */

.banner-catalogue {
  background-image: url('/assets/image/hero-catalogue.png');
}

/* TOOLBAR */

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar span {
  font-size: 16px;
}

.fa-sliders {
  font-size: 24px;
}

/* CONTAINERS */

.filter-and-grid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-top: 24px;
}

.grid-and-pagination-container {
  width: 866px;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 60px;
}

.pagination button {
  color: black;
  display: contents;
}

.pagination i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.pagination span {
  padding-left: 5px;
  padding-right: 5px;
}

.page-selected {
  border: 1px solid black;
}
